<h1 class="w3-xxxlarge"><b>HANNAHS CLOSET</b></h1>
<h6>Welcome to the clothing of <span class="w3-tag">Hannah Yudkin</span></h6>
<%= link_to('Suggest and Outfit', new_search_path, class: "w3-button w3-pale-red w3-round-large") %>  

<%# <%= image_tag("Dress1 Copy.jpg", :alt => "rss feed") %>